{{ partial "head" . }}

<div id="search-box">
  <!-- SearchBox widget will appear here -->
</div>
<div class="algolia"><img src="https://www.algolia.com/static_assets/images/pricing/pricing_new/algolia-powered-by-14773f38.svg" alt="Powered by Algolia"></div>

<div id="refinement-list" class="refinement-list">
  <!-- RefinementList widget will appear here -->
</div>

<div id="hits">
  <!-- Hits widget will appear here -->
</div>


{{/* Add your site or webapp content here */}}

<p>{{ .Content }}</p>


{{ partial "footer" . }}
